{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="BackendDefault"/>
<f:section name="Content">

    <f:if condition="{createFail}">
        <h3>Die Source Extension konnte nicht erstellt werden!</h3>
    </f:if>
    <h1>Keine Source Extension gefunden!</h1>

    <h3>Was ist die Source Extension?</h3>
    <p>
        In der Source Extension können Sie ihre Content Elemente erstellen und Versionieren (z.B. über GIT).
        <br/>
        Die Source Extension wird zwingent für Dw Content Elements benötigt, da diese Extension von sich
        <br/>
        aus keine eigenen Content Elemente mit bringt.
    </p>

    <f:form action="createSourceExt" controller="Backend" method="post" name="createSourceExt">
        <f:form.submit value="Die Source Extension erstellen." name="createSourceExt" />
    </f:form>

</f:section>
</html>