<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />
<f:section name="Content">

    <h1><f:translate key="backend.index.headline" extensionName="DwContentElements" /></h1>

    <h2><f:translate key="backend.index.subheadline" extensionName="DwContentElements"  /></h2>

    <p><f:format.raw><f:translate key="backend.index.documentation.introduction" extensionName="DwContentElements"  /></f:format.raw></p>


    <h3><f:translate key="backend.index.documentation.config.headline" extensionName="DwContentElements"  /></h3>
    <f:format.raw><f:translate key="backend.index.documentation.config.list" extensionName="DwContentElements"  /></f:format.raw>

    <h3><f:translate key="backend.index.documentation.template.headline" extensionName="DwContentElements"  /></h3>
    <f:format.raw><f:translate key="backend.index.documentation.template.list"
                               extensionName="DwContentElements"
                               arguments="{0: '{f:image(src: \'EXT:dw_content_elements/Resources/Public/Backend/Images/Documentation/example_element_template.png\', alt:\'Example element template\')}'}"
    /></f:format.raw>

    <h3><f:translate key="backend.index.documentation.irre.headline" extensionName="DwContentElements"  /></h3>
    <f:format.raw><f:translate key="backend.index.documentation.irre.list" extensionName="DwContentElements"  /></f:format.raw>

    <h3><f:translate key="backend.index.documentation.ts.headline" extensionName="DwContentElements"  /></h3>
    <f:format.raw><f:translate key="backend.index.documentation.ts.list" extensionName="DwContentElements"  /></f:format.raw>

    <h3><f:translate key="backend.index.documentation.extension.headline" extensionName="DwContentElements"  /></h3>
    <f:format.raw><f:translate key="backend.index.documentation.extension.list" extensionName="DwContentElements"  /></f:format.raw>

</f:section>
</html>





