{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="BackendDefault"/>
<f:section name="Content">

    <h1><f:translate key="backend.index.headline" /></h1>

    <h2><f:translate key="backend.index.subheadline" /></h2>

    <p><f:translate key="backend.index.documentation.introduction" /></p>


    <h3><f:translate key="backend.index.documentation.config.headline" /></h3>
    <f:translate key="backend.index.documentation.config.list" />

    <h3><f:translate key="backend.index.documentation.template.headline" /></h3>
    <f:translate key="backend.index.documentation.template.list"
                 arguments="{0: '{f:image(src: \'EXT:dw_content_elements/Resources/Public/Backend/Images/Documentation/example_element_template.png\', alt:\'Example element template\')}'}"
    />

    <h3><f:translate key="backend.index.documentation.irre.headline" /></h3>
    <f:translate key="backend.index.documentation.irre.list" />

    <h3><f:translate key="backend.index.documentation.ts.headline" /></h3>
    <f:translate key="backend.index.documentation.ts.list" />

    <f:comment>
        <h2>ToDos</h2>
        <ul>
            <li>Layout anpassen (Weiche für TYPO3 V6.2 und V7.4).</li>
            <li>Texte überarbeiten und mindestens noch ins Englische übersetzen.</li>
            <li>Dokumentation mit allen einstellungs möglichkeiten erstellen.</li>
        </ul>
    </f:comment>

</f:section>
</html>





