{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:comment>
	BacklogID: 1000
	BacklogName: Related Links
	Fields: tx_dwc_headline, tx_dwc_related_link_item
</f:comment>

<f:layout name="Default"/>
<f:section name="Content">

	<article class="mod-related-links">
		<div class="grid">
			<div class="grid_col">

                <f:render partial="Elements/E1000RelatedLinks/Sections" section="Headline" arguments="{headline: data.tx_dwc_headline}" />

                <nav class="nav-related-links" role="navigation">

					<f:if condition="{irreRelations}">

						<f:for each="{irreRelations}" as="item">

                            <f:if condition="{f:uri.page(pageUid: item.link)}">

                                <v:link.typolink configuration="{parameter: item.link, title: item.link_text}">
                                    {item.link_text}
                                </v:link.typolink>

                            </f:if>

						</f:for>

					</f:if>

				</nav>
			</div>
		</div>
	</article>

</f:section>
</html>
